head
    meta(charset='utf-8')

    meta(name='robots', content='noindex, nofollow')

    meta(name='fragment', content='!')

    // Always force latest IE rendering engine (even in intranet) & Chrome Frame
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')

    // IE10 Pinned Tile
    meta(name='msapplication-TileColor', content='#202020')
    meta(name='msapplication-TileImage', content='images/ico/favtile-icon-144.png')

    // IE9/IE10 Pinned Site
    link(rel='shortcut icon', type='image/x-icon', href='images/ico/favicon.ico')
    meta(name='application-name', content='Monkeys in Town [TODO]')
    meta(name='msapplication-tooltip', content='Monkeys in Town [TODO]')
    meta(name='msapplication-navbutton-color', content='#1EAFFF')
    meta(name='msapplication-tap-highlight', content='no')

    // Apple
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='images/ico/apple-touch-icon-144-precomposed.png')
    meta(name='apple-itunes-app', content='@@iTunesId')

    // Favicon
    link(rel='shortcut icon', type='image/x-icon', href='images/ico/favicon.ico')

    title ${artifactId} - ${version}

    meta(name='description', content='[TODO]')
    meta(name='keywords', content='[TODO]')
    meta(name='author', content='Monkeys in Town Lda.')

    meta(name='google-site-verification', content='@@googleSiteVerification')

    meta#viewport(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')

    // Stylesheets

    // build:css styles/${artifactId}.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
